@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eaf5ff;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 5px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #afafaf;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@layer components {
  .input {
    @apply h-14 px-5 pt-1 w-full rounded-full border border-slate-300 focus:outline-primary-400;
  }
  .input-label {
    @apply absolute text-gray-400 top-4 left-5 px-2 transition peer-focus:-top-2 peer-focus:bg-white peer-focus:text-primary-400 peer-focus:text-sm peer-focus:transition-all;
  }
  .peer:not(:placeholder-shown) + .input-label {
    @apply -top-2 bg-white text-sm;
  }
  .input:not(:placeholder-shown) + .input-label {
    @apply -top-2 bg-white text-sm;
  }
  .error-message {
    @apply ml-6 mt-1 text-sm text-red-500 transition-opacity duration-300;
  }
  .submit-btn {
    @apply h-14 text-center text-white rounded-full text-lg transition-colors duration-300;
  }
}
